<h3>社内書類一覧</h3>
<% @documents.each do |document| %>
  <%= link_to document_path(document.id) do  %>
    <dl class="uk-description-list uk-description-list-divider">
        <dt><%= document.title  %></dt>
        <dd><%= document.created_at %></dd>
        <hr class="uk-divider-icon">
    </dl>
  <% end %>
<% end %>



