<h1>New だよーー
ここで書類を作るよー</h1>

<%= form_for @document do |d| %>
  <%= d.text_field :title, class:"document_title" %>
  <%= d.text_area :content, class:"document_text" %>
  <%= d.submit "アップロード", class: "submit-button" %>
<% end %>

