<h3 class="">社内文書作成</h3>

  <div class="uk-card uk-card-default uk-width-1-2@m uk-align-center">
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-expand">
          <h3 class="uk-card-title uk-margin-remove-bottom">
            <div class="uk-margin">
              <p>書類名   <%= @document.title  %></p>
              <p class="uk-text-meta uk-margin-remove-top">作成日時　<%= @document.created_at %></p>
            </div>

          </h3>
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <div class="uk-margin">
        <p>議題</p>
        <p><%= @document.content  %></p>
      </div>
    </div>
    <div class="uk-card-footer">
      <p> <%= @document.tx_hash  %></p>
    </div>
  </div>
